a {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
  }
  
  br {
    line-height: 20px;
  }
  body {
    background-color: black;
    color: white;
  }
  .movie-link {
    display: block;
    color: white;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 20px;
  }
  
  a {
    color: white;
  }
  